@page "/"


@*<style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >;
</style>*@
<PageTitle>Procesos Activos</PageTitle>

 <MudCardContent Class="d-flex  flex-column  align-center  ">

    <MudText Typo="Typo.h3" GutterBottom="true">Procesos Activos</MudText>
    <MudText Class="mb-8">Tus procesos son:</MudText>
    <MudGrid>
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>No. </th>
                    <th>Descripcion </th>
                    <th>Estado </th>
                    <th>Etapa </th>
                    <th>Proceso de Contratacion</th>
                    <th>Mes Planificado </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in procesos)
                {
                    <tr>
                        <td>@item.numProceso</td>
                        <td>@item.descripcion</td>
                        <td>@item.Estado.tipoEstado</td>
                        <td>@item.Etapa.tipoEtapa</td>
                        <td>@item.Procedimiento.tipoProcedimiento</td>
                        <td>@item.mesPlanificado</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudGrid>


     </MudCardContent>


<MudDatePicker PickerVariant="PickerVariant.Dialog" Color="Color.Secondary" HelperText="Fecha de finalización del contrato/orden de compra" @bind-Date="datesf" DateFormat="yyyy-MM-dd"></MudDatePicker>
<MudText><b>Date:</b> @datesf</MudText>
@code {

    DateTime? datesf;
    List<ProcesoCompra> procesos = new();


    protected override async Task OnInitializedAsync()
    {
        var response = await apiService.HttpClient.GetAsync("/api/ProcesoCompra");
        try
        {
            response.EnsureSuccessStatusCode();
            procesos = await response.Content.ReadFromJsonAsync<List<ProcesoCompra>>();
        }
        catch (HttpRequestException)
        {
            var data = await response.Content.ReadFromJsonAsync<ResponseModel>();
            snackBar.Add($"{data.Message}", severity: Severity.Error);
        }
    }
}

