@page "/"



<PageTitle>Procesos Activos</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Procesos Activos</MudText>
<MudText Class="mb-8">Tus procesos son:</MudText>





<table class="table">
    <thead>
        <tr>
            <th>No. </th>
            <th>Descripcion </th>
            <th>Estado </th>
            <th>Etapa </th>
            <th>Proceso de Contratacion</th>
            <th>Mes Planificado </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in procesos)
        {
            <tr>
                <td>@item.numProceso</td>
                <td>@item.descripcion</td>
                <td>@item.Estado.tipoEstado</td>
                <td>@item.Etapa.tipoEtapa</td>
                <td>@item.Procedimiento.tipoProcedimiento</td>
                <td>@item.mesPlanificado</td>
            </tr>
        }
    </tbody>
</table>

<MudItem xs="12" sm="4" md="4">
    <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Formato Fecha" @bind-DateOnly="res" HelperText="Fecha de adjudicación del cotrato u orden de compra" DateFormat="yyyy-MM-dd"></MudDatePicker>
    <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Formato Fecha" @bind-Date="datesf" HelperText="Fecha de adjudicación del cotrato u orden de compra" DateFormat="yyyy-MM-dd"></MudDatePicker>
</MudItem>


<MudText><b>Date:</b> @res</MudText>
<MudText><b>Date:</b> @datesf</MudText>
@code {
    List<ProcesoCompra> procesos = new();

    DateOnly? res = new DateOnly();
    DateTime? datesf = null;


    protected override async Task OnInitializedAsync()
    {
        var response = await apiService.HttpClient.GetAsync("/api/ProcesoCompra");
        try
        {
            response.EnsureSuccessStatusCode();
            procesos = await response.Content.ReadFromJsonAsync<List<ProcesoCompra>>();
        }
        catch (HttpRequestException)
        {
            var data = await response.Content.ReadFromJsonAsync<ResponseModel>();
            snackBar.Add($"{data.Message}", severity: Severity.Error);
        }
    }
   
    // Creating DateOnly instance
//    DateOnly dateOnly = new DateOnly(2021, 9, 16);
//    // Converting DateOnly to DateTime by providing Time Info
//    DateTime testDateTime = dateOnly.ToDateTime(TimeOnly.Parse("10:00 PM"));
//    Console.WriteLine(testDateTime);
////Output -> 09/16/2021 22:00:00

}

